.App {
  text-align: center;
  padding:2em;
}

.product {
  display: flex;
}

.product div{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.product .thumbnail{
  width:10%;
}

.product .label{
  font-weight: bold;
  width:20%;
}

.product .label:first-letter {
  text-transform: uppercase;
}

.product .description{
  width:40%;
}

.product .price{
  width:15%;
}

.product .quantity{
  width: 15%;
}

